In [103]:
import pandas as pd
df = pd.read_excel('AgentPerformance.xlsx',skiprows=1)
df.head()

C:\Users\priya\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6

In [3]:
df.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

#### 1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [104]:
df['date']=pd.to_datetime(df['Date'])

In [105]:
df.head(2)

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30

In [106]:
df['date_week']=df['date'].dt.isocalendar().week

In [107]:
df['date_days']=df['date'].dt.day

In [121]:
df_mean=df.groupby(['Agent Name','date_week'])['Average Rating'].mean().to_frame()

In [122]:
df_mean

                      Average Rating
Agent Name date_week
Abhishek   26               0.000000
           27               0.000000
           28               0.000000
           29               0.000000
           30               0.000000
...                              ...
Zeeshan    26               0.000000
           27               1.307143
           28               2.948571
           29               3.180000
           30               2.760000

[350 rows x 1 columns]

#### 2 .Total working days for each agents

In [38]:
df.groupby('Agent Name')['date_days'].count()

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: date_days, Length: 70, dtype: int64

#### 3. Total query that you have taken

In [36]:
df.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

#### 4. Total Feedback that you have received

In [40]:
df.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

#### 5. Agent name who have average rating between 3.5 to 4

In [44]:
df[(df['Average Rating']>3.5) & (df['Average Rating']<=4)]['Agent Name']

4                    Swati
10             Manjunatha A
73      Boktiar Ahmed Bappy
76            Prateek _iot
78            Nandani Gupta
               ...
1941         Jawala Prakash
2018          Sanjeev Kumar
2021          Aditya Shinde
2023       Deepranjan Gupta
2097          Sanjeev Kumar
Name: Agent Name, Length: 111, dtype: object

#### 6 . Agent name who have rating lesss then 3.5

In [46]:
df[(df['Average Rating']<3.5)]['Agent Name']

1            Nandani Gupta
19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

#### 7 . Agent name who have rating more then 4.5

In [47]:
df[(df['Average Rating']>4.5)]['Agent Name']

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

#### 8 . How many feedaback agents have received more then 4.5 average

In [57]:
df.groupby('Agent Name')['Total Feedback'].mean()>4.5

Agent Name
Abhishek         False
Aditya           False
Aditya Shinde     True
Aditya_iot       False
Amersh           False
                 ...
Uday Mishra      False
Vasanth P        False
Vivek            False
Wasim             True
Zeeshan           True
Name: Total Feedback, Length: 70, dtype: bool

#### 9 . Average weekly response time for each agent

In [79]:
def get_seconds(time_str):
    #print('Time in hh:mm:ss:', time_str)
    # split in hh, mm, ss
    hh, mm, ss = time_str.split(':')
    return int(hh) * 3600 + int(mm) * 60 + int(ss)

In [81]:
avg_response_sec=[]
for t in df['Average Response Time']:
    avg_response_sec.append(get_seconds(t))
avg_response_sec
df['avg_response_sec'] = avg_response_sec

In [82]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date,date_week,date_days,working_days,avg_response_sec
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,30,30,NaN,38
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30,30,30,NaN,75
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,30,30,NaN,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,30,30,NaN,64
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,30,30,NaN,71

In [84]:
df.groupby(['Agent Name','date_week'])['avg_response_sec'].mean()

Agent Name  date_week
Abhishek    26             0.000000
            27             0.000000
            28             0.000000
            29             0.000000
            30             0.000000
                            ...
Zeeshan     26             0.000000
            27            23.571429
            28           123.428571
            29            62.857143
            30            63.833333
Name: avg_response_sec, Length: 350, dtype: float64

#### 10 . Average weekely resolution time for each agents

In [85]:
avg_resolution_time_sec=[]
for t in df['Average Resolution Time']:
    avg_resolution_time_sec.append(get_seconds(t))
avg_resolution_time_sec
df['avg_resolution_time_sec'] = avg_resolution_time_sec
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date,date_week,date_days,working_days,avg_response_sec,avg_resolution_time_sec
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,30,30,NaN,38,260
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30,30,30,NaN,75,1705
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,30,30,NaN,30,696
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,30,30,NaN,64,946
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,30,30,NaN,71,993

In [86]:
df.groupby(['Agent Name','date_week'])['avg_resolution_time_sec'].mean()

Agent Name  date_week
Abhishek    26             0.000000
            27             0.000000
            28             0.000000
            29             0.000000
            30             0.000000
                            ...
Zeeshan     26             0.000000
            27           323.000000
            28           984.285714
            29           794.285714
            30           773.500000
Name: avg_resolution_time_sec, Length: 350, dtype: float64

#### 11 . List of all agents name

In [90]:
set(df['Agent Name'])

{'Abhishek ',
 'Aditya ',
 'Aditya Shinde',
 'Aditya_iot ',
 'Amersh ',
 'Ameya Jain',
 'Anirudh ',
 'Ankit Sharma',
 'Ankitjha ',
 'Anurag Tiwari',
 'Aravind ',
 'Ashad Nasim',
 'Ashish ',
 'Ayushi Mishra',
 'Bharath ',
 'Boktiar Ahmed Bappy',
 'Chaitra K Hiremath',
 'Deepranjan Gupta',
 'Dibyanshu ',
 'Harikrishnan Shaji',
 'Hitesh Choudhary',
 'Hrisikesh Neogi',
 'Hyder Abbas',
 'Ineuron Intelligence ',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Jayant Kumar',
 'Jaydeep Dixit',
 'Khushboo Priya',
 'Madhulika G',
 'Mahak ',
 'Mahesh Sarade',
 'Maitry ',
 'Maneesh ',
 'Manjunatha A',
 'Mithun S',
 'Mukesh ',
 'Mukesh Rao ',
 'Muskan Garg',
 'Nandani Gupta',
 'Nishtha Jain',
 'Nitin M',
 'Prabir Kumar Satapathy',
 'Prateek _iot ',
 'Prerna Singh',
 'Rishav Dash',
 'Rohan ',
 'Saif Khan',
 'Saikumarreddy N',
 'Samprit ',
 'Sandipan Saha',
 'Sanjeev Kumar',
 'Sanjeevan ',
 'Saurabh Shukla',
 'Shiva Srivastava',
 'Shivan K',
 'Shivan_S ',
 'Shivananda Sonwane',
 'Shubham Sharma',
 'Sowmiya Sivakumar',
 'Spuri ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Swati ',
 'Tarun ',
 'Uday Mishra',
 'Vasanth P',
 'Vivek ',
 'Wasim ',
 'Zeeshan '}

#### 12 . percentage of chat on which they have received a feedback

In [94]:
df.groupby(['Agent Name','Total Chats'])['Total Feedback'].sum()

Agent Name     Total Chats
Abhishek       0               0
Aditya         0               0
Aditya Shinde  0               0
               8               7
               14              9
                              ..
Zeeshan        36             28
               37             25
               41             25
               46             28
               92             35
Name: Total Feedback, Length: 638, dtype: int64

#### 13 . Total contributation hour for each and every agents weekly basis

In [138]:
df1 = pd.read_excel('Agent_Login_Report.xls',skiprows=2)
df1.head()

   SL No               Agent       Date   Login Time  Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM  02:04:10
1      2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM  00:00:17
2      3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM  00:45:06
4      5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM  01:08:36

In [139]:
df1.dtypes

SL No           int64
Agent          object
Date           object
Login Time     object
Logout Time    object
Duration       object
dtype: object

In [140]:
df1['Date'] = pd.to_datetime(df1['Date'])

In [141]:
df1['week'] = df1['Date'].dt.isocalendar().week

In [142]:
Total_duration_secs=[]
for t in df1['Duration']:
    Total_duration_secs.append(get_seconds(t))
Total_duration_secs
df1['Total_duration_secs'] = Total_duration_secs

In [143]:
df1.dtypes

SL No                           int64
Agent                          object
Date                   datetime64[ns]
Login Time                     object
Logout Time                    object
Duration                       object
week                           UInt32
Total_duration_secs             int64
dtype: object

In [148]:
df1['hours']=df1['Total_duration_secs']//3600

In [149]:
df1.groupby(['Agent','week'])['hours'].mean()

Agent          week
Aditya Shinde  30        0.000000
Aditya_iot     29        1.666667
               30        1.166667
Amersh         30        0.500000
Ameya Jain     29        3.000000
                          ...
Tarun          26      514.000000
Wasim          29        2.000000
               30        2.272727
Zeeshan        29        3.833333
               30        6.000000
Name: hours, Length: 89, dtype: float64

#### 14. total percentage of active hour for a month

In [150]:
df1['month'] = df1['Date'].dt.month
df1

,SL No,Agent,Date,Login Time,Logout Time,Duration,week,Total_duration_secs,hours,month
0,1,Shivananda Sonwane,2022-07-30,03:35:29 PM,05:39:39 PM,02:04:10,30,7450,2,7
1,2,Khushboo Priya,2022-07-30,03:06:59 PM,03:07:16 PM,00:00:17,30,17,0,7
2,3,Nandani Gupta,2022-07-30,03:04:24 PM,05:31:07 PM,02:26:42,30,8802,2,7
3,4,Hrisikesh Neogi,2022-07-30,02:34:29 PM,03:19:35 PM,00:45:06,30,2706,0,7
4,5,Mukesh,2022-07-30,02:03:15 PM,03:11:52 PM,01:08:36,30,4116,1,7
...,...,...,...,...,...,...,...,...,...,...
995,996,Manjunatha A,2022-07-20,09:03:51 AM,03:02:28 PM,05:58:37,29,21517,5,7
996,997,Bharath,2022-07-20,09:00:49 AM,03:01:32 PM,06:00:43,29,21643,6,7
997,998,Khushboo Priya,2022-07-20,08:59:20 AM,02:26:55 PM,05:27:34,29,19654,5,7
998,999,Nishtha Jain,2022-07-20,08:43:55 AM,02:00:33 PM,05:16:38,29,18998,5,7
999,1000,Tarun,2022-07-01,01:52:47 AM,12:01:07 PM,514:08:20,26,1850900,514,7

In [157]:
100*df1['hours']/df1.groupby('month')['hours'].transform('sum')

0       0.105097
1       0.000000
2       0.105097
3       0.000000
4       0.052549
         ...
995     0.262743
996     0.315292
997     0.262743
998     0.262743
999    27.009984
Name: hours, Length: 1000, dtype: float64