#### Read this dataset in pandas , mysql and mongodb

In [62]:
import pandas as pd
df = pd.read_csv('fitbit_data.csv')
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [137]:
def my_connection(db_name):
    '''create connection with database'''
    try:
        mydb = connection.connect(host='localhost',user='root',password='mysql',database = db_name,use_pure=True)
        return mydb
    except Exception as e:
        print(str(e))

In [140]:
#read data from mysql
import mysql.connector as connection
conn=my_connection('fitbit')
df1 = pd.read_sql('select * from fitbit_data',conn)
df1.head(2)

,Id,ActivityDate,ActivityDate_new,ActivityDate_Updated,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,2016-03-25,None,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,2016-03-26,None,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154

In [141]:
df_json = df1.to_json('fitbit_data.json')

In [ ]:
#read data from mongodb
import pymongo as pymongo
client = pymongo.MongoClient("mongodb+srv://ineuron:Priya1803@cluster0.rxtbh.mongodb.net/?retryWrites=true&w=majority")
db1 = client['fitbit_track']
coll = db1['fitbit_data']
x = coll.find()
for data in x:
    print(data)

#### 2. While creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql

In [136]:
import pymysql
import os
from sqlalchemy import create_engine
user = 'root'
passw = 'mysql'
host =  'localhost'  # either localhost or ip e.g. '172.17.0.2' or hostname address 
port = 3306 
database = 'fitbit'

mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False )

directory = r'C:\Users\priya\Documents\MysqlTest'  # path of csv file
csvFileName = 'fitbit_data.csv'

df = pd.read_csv(os.path.join(directory, csvFileName ))

df.to_sql(name=csvFileName[:-4], con=mydb, if_exists = 'replace', index=False)

#### 3. Convert all the dates available in dataset to timestamp format in pandas and in sql you to convert it in date format

In [63]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [64]:
df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [ ]:
#using sql
alter table fitbit_data
add column ActivityDate_new  date after ActivityDate;
SET SQL_SAFE_UPDATES = 0;
update fitbit_data
set ActivityDate_new = str_to_date(ActivityDate,'%m/%d/%Y');

#### 4 . Find out in this data that how many unique id's we have

In [65]:
df['Id'].unique

<bound method Series.unique of 0      1503960366
1      1503960366
2      1503960366
3      1503960366
4      1503960366
          ...
452    8877689391
453    8877689391
454    8877689391
455    8877689391
456    8877689391
Name: Id, Length: 457, dtype: int64>

#### 5 . which id is one of the active id that you have in whole dataset

In [66]:
df.groupby('Id')['VeryActiveMinutes'].sum().idxmax()

8053475328

#### 6.How many of them have not logged there activity find out in terms of number of ids

In [118]:
df.groupby('Id')['LoggedActivitiesDistance'].sum()<1

Id
1503960366     True
1624580081     True
1644430081     True
1844505072     True
1927972279     True
2022484408     True
2026352035     True
2320127002     True
2347167796     True
2873212765     True
2891001357    False
3372868164     True
3977333714     True
4020332650     True
4057192912     True
4319703577     True
4388161847     True
4445114986     True
4558609924     True
4702921684     True
5553957443     True
5577150313     True
6117666160     True
6290855005     True
6391747486    False
6775888955     True
6962181067    False
7007744171    False
7086361926     True
8053475328     True
8253242879     True
8378563200    False
8583815059     True
8792009665     True
8877689391     True
Name: LoggedActivitiesDistance, dtype: bool

In [119]:
df.groupby('Id')['LoggedActivitiesDistance'].sum().apply(lambda x:x<1).value_counts()

True     30
False     5
Name: LoggedActivitiesDistance, dtype: int64

#### 7 . Find out who is the laziest person id that we have in dataset

In [67]:
df.groupby('Id')['VeryActiveMinutes'].sum().idxmin()

1927972279

#### 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset (2200 calories/day)

In [68]:
df.groupby('Id')['Calories'].sum().apply(lambda x:x>2200*7).value_counts()

True     34
False     1
Name: Calories, dtype: int64

#### 9. how many person are not a regular person with respect to activity try to find out those

In [131]:
df[df['TotalSteps']==0]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
51,1844505072,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,669,1347
52,1844505072,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1347
59,1844505072,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,426,399
96,2320127002,2016-04-01,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324
97,2320127002,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,8253242879,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
403,8253242879,2016-04-03,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
404,8253242879,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
405,8253242879,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
412,8253242879,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0

#### 10 . Who is the third most active person in this dataset find out those in pandas and in sql both

In [77]:
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending=False)[2:3]

Id
8877689391    802
Name: VeryActiveMinutes, dtype: int64

In [ ]:
#using sql query
select id, sum(VeryActiveMinutes) from fitbit_data group by Id ORDER BY sum(VeryActiveMinutes) DESC LIMIT 1 OFFSET 2;

#### 11 . who is the 5th most laziest person avilable in dataset find it out

In [60]:
df.groupby('Id')['SedentaryMinutes'].sum().sort_values()[4:5]

Id
6962181067    8488
Name: SedentaryMinutes, dtype: int64

#### 12 . what is a total cummulative calories burn for a person find out

In [44]:
df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64